body{
    padding: 10px;
}
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: 10px;
    box-shadow: 10px black;
    height: 50px;
    width: 90%;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
    /* background-color: blue; */
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.link:hover{
    color: purple;
}
span {
    color: purple;
}
.hero{
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 10px;
    margin: 20px;
    background-color: #eee;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}
.topic{
    text-decoration: underline;
}
.content {
    text-align: left;
}
p {
    line-height: 2;
}
h1{
    padding: 10px;
    color: cornflowerblue;
}
h2{
    text-align: center;
    font-size: 25px;
}
hr{
    width: 500px;
    opacity: 30%;
}
input{
    width: 100%;
}
.form {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow: 10px #000000;
}
.name{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* margin-bottom: px; */
}
.num{
    display: flex;
    justify-content: start;
    padding: 10px;
}
.subject{
    display: grid;
    padding: 10px;
}
.file{
    padding: 10px;
}
.message{
    padding: 10px;
}
.about{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
